.wrapper {
    max-width: 900px;
    margin: 120px auto 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    background-image: linear-gradient(to right, #344d75, #33b5f1);
    color: white;
}

.dark-mode .navbar {
    background-color: #333;
    color: white;
}

.dark-mode .navbar a,
.dark-mode .navbar button {
    color: white;
}

.dark-mode button {
    background-color: #333333;
}

.dark-mode button:hover {
    background-color: white;
    color: #333333;
}

ul {
    list-style-type: none;
}