table {
    font-family: sans-serif;
    width: 100%;

}

td,
th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    word-break: break-all;
}

th {
    text-align: center;
}

.dark-mode .navbar-brand {
    color: white;
}

h1 {
    text-align: center;
    /*  background-color: green */
}

h3 {
    text-align: center;
    /* background-color: darkgreen */
}

tr {
    background-color: #dddddd;
    color: black
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    /* Rounded corners */
    overflow: hidden;
    /* Hide overflow for rounded corners */
}

table,
th,
td {
    border: 1px solid #dddddd;
}

th,
td {
    padding: 12px;
    /* Increased padding for better readability */
    text-align: left;
}

th {
    background-color: #f2f2f2;
    /* Light gray background for headers */
    color: #333333;
    /* Darker text for headers */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Zebra stripe effect */
}

tr:hover {
    background-color: #e2e2e2;
    /* Highlight row on hover */
}